.firstSection {
	position: absolute;
	background: url("assets/HeroBanner.png") no-repeat center center;
	width:100%;
	height: 600px;
	background-size: 100%;
	margin-bottom:0;
}

h3.weCanDo {
	color: white;
	font-size: 44px;
	position: absolute;
    left: 275px;
    top: 175px;
}
p.solveprob {
	color: white;
	font-size: 24px;
	position: absolute;
	left: 488px;
    top: 250px;
}
 p.inn {
 	text-align: center;
 	color: white;
 	font-size: 16px;
 	position: absolute;
 	left: 556px;
 	top: 372px;
 }

 a.getStarted {
 	position: absolute;
 	color: white;
 	left: 600px;
 	top: 425px;
 	font-size: 14px;
 	border-style: solid;
	border-width: 2px;
	border-color: white;
	padding: 17px 40px;
 }
/*
 .navbar {
 	border-radius: 0;
 	background: none; 
 	position: relative;
 	min-height: 65px;
 	border-color: none;


 }
 .navbar-default {
  background: transparent;
  border: 0;
  margin-bottom: 0;
}

.navbar, .jumbotron {
    margin-bottom: 0;
}*/


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


li {
    float: left;
    list-style-type:none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 14px 16px;
    text-decoration: none;
}

.logo {
	position: absolute;
	left: 70px;
	top: 26px;
	width: 89px;
	height: 33px;
}

/* search bar 
li.searchicon {
	position: absolute;
	left: 224px;
	top: 34px;
	width: 17px;
	height: 17px;

}

li.search {
	position: absolute;
	left: 272px;
	top: 30px;
	font-size: 16px;

	*/

li a.learn {
	position: absolute;
	left: 670px;
	top: 33px;
	
}
li a.projects {
	position: absolute;
	left: 744px;
	top: 33px;
}
li a.forums {
	position: absolute;
	left: 840px;
	top: 33px;
}
li a.register {
	border-style: solid;
	border-width: 2px;
	border-color: white;
	padding: 20px 17px;
	position: absolute;
	left: 945px;
	top: 33px;
}
li a.github {
	border-style: solid;
	border-width: 2px;
	padding: 20px 17px;
	border-color: white;
	position: absolute;
	left: 1059px;
	top: 33px;
}

section.sectionTwo {
	position: relative;
	background: #21ADDD;
	width:100%;
	height: 480px;
	background-size: 100%;
}

section h2.cog {

	font-color: white;
	font-size: 36px;
	position: absolute;
	left: 234px;
	top: 714px;
}

section p.par {

	font-color: white;
	font-size: 16px;
	position: absolute;
	left: 95px;
	top: 767px;

}
section a.getStarted2 {
 	position: absolute;
 	color: white;
 	left: 509px;
 	top: 909px;
 	font-size: 14px;
 	border-style: solid;
	border-width: 2px;
	border-color: white;

}
}